@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster+Two:ital@1&family=Oleo+Script&family=Pacifico&display=swap');

/* Box Model Hack */
*{
    box-sizing: border-box;
}


/* LAYOUT */

img{
    height: 15rem;
    width: 10rem;
    background: rgb(249, 243, 220);
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 10px 5px 10px rgb(117, 162, 201);
}

img:hover {
  transform: scale(1.1);
  transition: all 0.8s ease;
}

body {
  margin: 0;
  background: rgb(232, 226, 203);
}

section {
  padding: 2rem;
  margin: 2rem;
  text-align: center;
  background: rgb(249, 243, 220);
}

div {
  margin: 4rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(197, 228, 234);
}

.secondDiv {
  width: 20rem;
  height: 20rem;
  margin: 1rem 1rem 3rem 1rem;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(197, 228, 234);
}

button {
  background: rgb(117, 162, 201);
  padding: 0.5rem 1rem;
  border-radius: 16px;
  border: 1px solid rgb(117, 162, 201);
  color: rgb(249, 243, 220);
  font-weight: 500;
  font-family: 'Lobster Two', cursive;
  cursor: pointer;
}

button:hover {
  background: rgb(249, 243, 220);
  color: rgb(117, 162, 201);
  transform: scale(1.1);
  transition: all 0.8s ease-out;
}

h1, h2 {
  font-family: 'Courgette', cursive;
}

h3 {
  font-size: 2.8rem;
  font-family: 'Lobster Two', cursive;
}


  
  
/* ADDITIONAL STYLES */
  